<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>Mma inspire</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>

        <h4>Mma <span class="logo-span">Inspire</span></h4>

        
        <a href="cart.html" class="icon"><i class="fa fa-shopping-bag"></i></a>
        <i  class="fas fa-bars" id="menu"></i>

        <nav class="navbar">
            <a href="/">Home</a>
            <a href="course.html">About Us</a>
            <a href="contact.html">Contact Us</a>
            <div class="dropdown">
                <button class="dropbtn" href="shop.html">Shop Now</button>
                <div class="dropdown-content">
                    <a href="#" style="font-size: 15px;">Ready to Wear</a>
                    <a href="#" style="font-size: 15px;">Custom Made</a>               
                </div>
            </div>
            <a href="Academy.html">Academy</a>
            <div class="dropdown">
                <button class="dropbtn">My Account</button>
                <div class="dropdown-content">
                    <a href="/login" style="font-size: 15px;">Login</a>
                    <a href="/register" style="font-size: 15px;">Register</a>
                    <a href="cart.html" class="icon"><i class="fa fa-shopping-bag"></i><span>Cart</span></a>
                </div>
            </div>
        
        </nav>

    </header>

    <h1 style="text-align: center; color: #fff; margin-top: 7rem; font-size: 5rem;">LOGIN PAGE</h1>

</body>
</html>